@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
    /* background-color: whitesmoke; */
}
/* -------------
    Common Utiliteis
----------------*/

.flexible{
    display: flex;
    justify-content: center;
    align-items: center;
}
.only-flex{
    display: flex;
}

a,li{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.common-container{
    width: 80%;
}

.btn-common{
    background: #E02C6D;
    padding: 10px 24px;
    color: #fff;
}

.btn-common i{
    margin-left: 10px;
}




/* --------------- header ----------- */

#header-container{
    background-color: #2D25A0;
}

#nav-container{
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px 0;
}
#nav-container li{
    margin: 0 10px;
}

#nav-container .bar{
    display: none;
}

#banner-container{
    margin: 50px 0;
}

#banner-text,
#banner-pic{
    flex: 1;
}

#banner-text h1{
    margin: 70px 0 30px;
    font-size: 64px;
    line-height: 80px;
    color: #fff;
}

#bn-img img{
    width: 95%;
    margin-left: 50px;
}

/* -----------player section ---------- */

#player-container{
    display: grid;
    grid-template-columns: repeat(3,330px);
    grid-gap: 30px;
    margin: 70px 0;
    
    
}

.players{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.player-img{
    width: 100%;
}

.players h2{
    margin-top: 15px;
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}
.players p{
    color: #6C6C6C;
    font-size: 16px;
}


/* -----------------Article ------------- */
#article-container{
    margin: 160px 0;
}
.article-text,
.article-image{
    flex: 1;
}

.article-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    margin-top: 80px;
}

.article-text p{
    width: 400px;
    font-size: 16px;
    color: #6C6C6C;
    margin: 8px 0;
    text-align: justify;
}
.article-text a{
    margin-top: 20px;
    display: inline-block;
}

.article-image img{
    width: 100%;
}

/* ----------------footer---------- */
footer{
    margin: 20px 0;
}
.footer-image img{
    width: 485px;
    height: 115px;
}

.social-icons a{
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #969BAB;
    margin: 10px;
    justify-content: center;
    align-items: center;
    
}

footer p{
    margin: 10px 0;
    font-size: 18px;
}