@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
    /* background-color: whitesmoke; */
}
/* -------------
    Common Utiliteis
----------------*/

.flexible{
    display: flex;
    justify-content: center;
    align-items: center;
}
.only-flex{
    display: flex;
}

a,li{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.common-container{
    width: 80%;
}

.btn-common{
    background: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    transition:3s ease-out;
}

.btn-common:hover{
    background: linear-gradient(270deg,#154284,#cd122d);
    
}
.btn-common i{
    margin-left: 10px;
}




/* --------------- header ----------- */

#header-container{
    background-color: #2D25A0;
}

#nav-container{
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px 0;
}
#nav-container li{
    margin: 0 10px;
}

#nav-container .bar{
    display: none;
}

#banner-container{
    margin: 50px 0;
}

#banner-text,
#banner-pic{
    flex: 1;
}

#banner-text h1{
    margin: 70px 0 30px;
    font-size: 64px;
    line-height: 80px;
    color: #fff;
}

#bn-img img{
    width: 95%;
    margin-left: 50px;
}

/* -----------player section ---------- */

#player-container{
    display: grid;
    grid-template-columns: repeat(3,330px);
    grid-gap: 30px;
    margin: 70px 0;
    
    
}

.players{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.player-img{
    width: 100%;
}

.players h2{
    margin-top: 15px;
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}
.players p{
    color: #6C6C6C;
    font-size: 16px;
}


/* -----------------Article ------------- */
#article-container{
    margin: 160px 0;
}
.article-text,
.article-image{
    flex: 1;
}

.article-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    margin-top: 80px;
}

.article-text p{
    width: 400px;
    font-size: 16px;
    color: #6C6C6C;
    margin: 8px 0;
    text-align: justify;
}
.article-text a{
    margin-top: 20px;
    display: inline-block;
}

.article-image img{
    width: 100%;
}

/* ------------------Bonus sec 01 */

#membership{
    background-color: #2D25A0;
    margin: 50px 0;
}

.member{
    background-image: url(./images/bonus-bg-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 50px 0; */
    text-align: center;
}

.member h1{
    font-size: 68px;
    font-weight: 700;
    color: #fd562c;
    margin-top: 150px;
}

.member p{
    font-size: 20px;
    font-weight: 700;
    color: #d41d10;
}

.member a{
    display: inline-block;
    margin: 20px 0;
}


/* bonus sec 02 */

.match h1{
    font-size: 68px;
    font-weight: 700;
    color: #fd562c;
    margin-top: 150px;   
    text-align: center; 
    margin-bottom: 50px;
}

.match-detail{
    background-image: linear-gradient(90deg,#fd562c,#000);
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.date-full{
    align-items: center;
}
.date{
    font-size: 70px;
    font-weight: 700;
    margin: 0 20px;
}
.day-month{
    font-size: 24px;
    font-weight: 700;
}

.add p{
    font-size: 50px;
    padding: 10px 30px;
    background-color: rgb(255, 145, 0);
    color: whitesmoke;
    font-weight: 700;
    margin-right: 20px;
}

.teams{
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.teams p{
    font-size: 60px;
    font-weight: 700;
}
.team-image img{
    width: 300px;
    height: 300px;
}





/* ----------------footer---------- */
footer{
    margin: 180px 0;
}
.footer-image img{
    width: 485px;
    height: 115px;
}

.social-icons a{
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #969BAB;
    margin: 10px;
    justify-content: center;
    align-items: center;
    
}

footer p{
    margin: 10px 0;
    font-size: 18px;
}



/* -----------------

     Mobile view

----------------------*/

@media (max-width:600px) {
    .common-container{
        width: 95%;
    }

    #nav-container{
        display: none;
    }
    
    #banner-container{
        flex-direction: column;
    }

    #banner-text h1{
        font-size: 30px;
        line-height: 30px;
    }
     #bn-img img{
        margin: 60px 0;
    }

    #player-container{
        grid-template-columns: 320px;
    }


    .article-mb{
        flex-direction: column;
    }


    .match-detail{
        flex-direction: column-reverse;
    }

    .team-image img{
        width: 100px;
        height: 100px;
    }

    body h1{
        font-size: 18px;
    }
    body p{
        font-size: 13px;
    }
    .article-text h1,
    .match h1,
    .member h1
    {
        font-size: 30px;
    }

    .article-image img{
        margin-top: 30px;
    }

    .footer-image img{
        width: 300px;
    }

    .article-text p{
        width: 80%;
    }

    .add p{
        font-size: 30px;
    }
    
}

@media (max-width:768px) {
    #nav-container{
        display: none;
    }
    #player-container{
        grid-template-columns: repeat(2,320px);
    }
}